name: CI

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - "README.md"
jobs:
  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - uses: Swatinem/rust-cache@v2

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - run: rustup component add clippy

      - name: Cargo clippy
        # We run clippy twice (once without tests), so that it accurately reports dead code in the non-test configuration.
        # `manual_range_contains` is disabled because a >= x && a < y reads more clearly than (x..y).contains(a) and
        # there are additional caveats for floating point numbers (https://github.com/rust-lang/rust-clippy/issues/6455)
        run: |
          cargo clippy -- -D clippy::all -D warnings -A clippy::manual_range_contains
          cargo clippy --tests --benches -- -D clippy::all -D warnings -A clippy::manual_range_contains

  cargo-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - uses: Swatinem/rust-cache@v2

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - name: Cargo test
        run: unset CI && cargo test

  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - uses: Swatinem/rust-cache@v2

      - name: Install dfx
        uses: dfinity/setup-dfx@main

      - name: Start dfx
        run: dfx start --background

      - name: Install npm packages
        run: npm ci

      - name: Run E2E tests
        run: scripts/e2e

      - name: Run examples
        run: scripts/examples

      - name: Check formatting
        run: cargo fmt --all -- --check

  bazel-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - uses: bazelbuild/setup-bazelisk@v3

      - name: Setup Bazel cache
        uses: actions/cache@v4
        with:
          path: "~/.cache/bazel"
          key: bazel

      - name: Bazel build
        run: |
          git clone --depth 1 -b evm-rpc-canister https://github.com/dfinity/ic.git ../ic &&\
          cd ../ic &&\
          git fetch --depth=1 origin 6e7ece9491ac2cc229017fdcd136dd667b69b2f3
          ln -s ../../../evm-rpc-canister rs/ethereum/evm_rpc &&\
          bazel build //rs/ethereum/evm_rpc:evm_rpc &&\
          bazel test //rs/ethereum/evm_rpc:unit_tests //rs/ethereum/evm_rpc:integration_tests &&\
          echo Done

      #   - name: Install dfx
      #     uses: dfinity/setup-dfx@main

      #   - name: Start dfx
      #     run: dfx start --background
